<div *ngIf="contentItemInputValue">
    <h2>{{contentItemInputValue.title}}</h2>
    <img *ngIf="contentItemInputValue.imgSrc" [src]="contentItemInputValue.imgSrc" (click)="imageClicked()"/>
    <p *ngIf="contentItemInputValue.description" [innerHTML]="contentItemInputValue.description"></p>
    <div class="meta-data">
        <span class="author">{{contentItemInputValue.author}}</span>
        <span class="type">{{contentItemInputValue.type}}</span>
    </div>
    <div *ngIf="contentItemInputValue.tags" class="tags">
        <span *ngFor="let tag of contentItemInputValue.tags">{{tag}}</span>
    </div>
</div>