<div *ngIf="contentItemInputValue">
    <h2><a [routerLink]="['/content/', contentItemInputValue.id]">{{contentItemInputValue.title}}</a></h2>
    <img *ngIf="contentItemInputValue.imgSrc" [src]="contentItemInputValue.imgSrc" (click)="imageClicked()"/>
    <div class="meta-data">
        <span class="type">{{contentItemInputValue.type}}</span>
    </div>
    <div *ngIf="contentItemInputValue.tags" class="tags">
        <span *ngFor="let tag of contentItemInputValue.tags">{{tag}}</span>
    </div>
</div>