:host {
    // style the app-content-list-item around each IContent item
    border: 1px solid #000;
    width: 300px;
    margin: 16px;
    padding: 16px;
    display: inline-block;
  
    &.even-game {
      background-color: #edb9e8;
    }
  }
  // we could have added this inside the :host above like we did for the even-game class, using the & syntax,
  // but this is the equivalent of what angular will generate once the scss is converted to css
  :host.odd-game {
    background-color: #b0e0e6;
  }
  // Learn more about scss mixins here: https://sass-lang.com/documentation/at-rules/mixin
  @mixin bordered-button-span {
    border-radius: 10px;
    border: 2px solid crimson;
    padding: 8px;
    background-color: rgba(220, 20, 60, 0.5);
    display: inline-block;
  }
  
  h2 {
    // style title
    text-decoration: underline;
    color: darkred;
    text-align: center;
  }
  img {
    // style the image
    margin: 0 auto;
    display: block;
  }
  
  p {
    // style the description
    border-top: 1px solid #aaa;
    padding-top: 16px;
  }
  div.meta-data {
    // style the wrapper around author and type
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }
  span.author {
    // style the author text
    @include bordered-button-span; // using the mixin here!
    color: #fff;
  
    &::before {
      content: "Author: ";
      color: #000;
    }
  }
  span.type {
    // style the type text
    text-align: right;
  
    &::before {
      content: "Genre:";
      display: block;
      border-bottom: 1px dashed #333;
    }
}

div.tags {
    // style the wrapper around the tags
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px 0;
  
    span {
      // style each individual tag
      @include bordered-button-span; // using the mixin here!
      margin-bottom: 8px;
      color: rgb(40, 102, 48);
    }
    span::before {
      content: "#";
      color: #fff;
    }
}