:host {
    display: block;
    margin-top: 64px;
}

.back-to-list, .previous-detail {
    position: fixed;
    top: 16px;
    border-radius: 16px;
    padding: 16px;
    background-color: aquamarine;
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.back-to-list {
    left: 16px;
}

.previous-detail {
    right: 16px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}