<a class="back-to-list" routerLink="/content">
    Back to list
</a>
<a *ngIf="movieDetailItem && movieDetailItem.ID > 0" class="previous-detail" [routerLink]="['/content', movieDetailItem.ID - 1]">
    Previous detail
</a>
<div *ngIf="movieDetailItem" class="content-wrapper">
    <h2>{{movieDetailItem.title}}</h2>
    <img *ngIf="movieDetailItem.imgSrc" [src]="movieDetailItem.imgSrc"/>
    <p *ngIf="movieDetailItem.description" [innerHTML]="movieDetailItem.description"></p>
    <div class="meta-data">
        <span class="author">{{movieDetailItem.author}}</span>
        <span class="type">{{movieDetailItem.type}}</span>
    </div>
    <div *ngIf="movieDetailItem.tags" class="tags">
        <span *ngFor="let tag of movieDetailItem.tags">{{tag}}</span>
    </div>
</div>
